<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <input type="text" class="form-input" id="commentName" name="comment-name" placeholder="Write Your Name Here ...">
    <input type="text" class="form-input" id="commentDesc" name="comment-desc" placeholder="Write Your Comment Here ...">
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>
